.pcube-ui {
  .ui-about {
    .timeline {
      list-style: none;
      margin: 30px 0 0 0;
      padding: 0;
      position: relative;
      &:before {
        background: $medium-black;
        bottom: 0;
        content: '';
        left: 20%;
        margin-left: -10px;
        position: absolute;
        top: 0;
        width: 10px;
      }
      li {
        position: relative;
      }
      .timeline-label {
        display: block;
        font-weight: 700;
        margin-top: 10px;
        padding-right: 100px;
        position: absolute;
        text-align: right;
        width: 25%;
      }
      .timeline-icon {
        background: $white;
        border-radius: 50%;
        box-shadow: 0 0 0 8px $medium-black;
        color: $medium-black;
        font-size: 1.4em;
        height: 40px;
        left: 20%;
        line-height: 40px;
        position: absolute;
        text-align: center;
        top: 0;
        margin: 0 0 0 -25px;
        width: 40px;
      }
      .timeline-content {
        border-radius: 5px;
        color: $medium-black;
        font-size: 1.2em;
        font-weight: 300;
        margin: 0 0 15px 25%;
        padding: 12px;
        position: relative;
        line-height: 1.4;
        .title {
          margin: 0;
        }
        .light-text {
          font-size: 14px;
        }
      }
    }
  }
}
