.pcube-ui {
  .ui-about {
    .quote-container {
      min-width: 100%;
      text-align: center;
      .quote {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }
    }
    .content {
      font-size: 18px;
    }
    .collection {
      margin-top: 25px;
      .secondary-content {
        .material-icons {
          color: $black;
        }
      }
    }
    .card {
      .card-image {
        img {
          height: 92px;
          margin: 5px;
        }
      }
    }
  }
}
