.pcube-ui {
  .ui-contact {
    .container {
      width: 90%;
    }
    .tabs {
      margin-top: 20px;
      .tab {
        a {
          color: $black;
        }
      }
      .indicator {
        background-color: $black;
      }
    }
    .empty-content {
      min-height: 300px;
    }
  }
}
