.pcube-ui {
  .ui-contact {
    padding-top: 64px;
    .container {
      width: 90%;
    }
    .fb-post {
      background-color: white;
    }
    .tabs {
      background-color: transparent;
      margin-top: 20px;
      .tab {
        a {
          color: #3396ff;
        }
      }
      .indicator {
        background-color: #3396ff;
      }
    }
    .empty-content {
      min-height: 300px;
    }
  }
}
