.pcube-ui {
  .ui-faq {
    .testimonial-container {
      border-bottom: 1px solid $light-grey;
      margin-bottom: 20px;
      padding-bottom: 20px;
      .content {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-top: 20px;
      }
      .author {
        font-size: 18px;
        font-style: italic;
        font-weight: 600;
        &.right {
          text-align: right;
        }
        &.left {
          text-align: left;
        }
      }
    }
  }
}
