.pcube-ui {
  .ui-footer {
    background-color: #000000;
    box-shadow: 0 0 5px $grey;
    color: $medium-black;
    border-top: 10px solid #3396ff;
    .footer-copyright {
      background-color: #3396ff;
      .container {
        color: #000000;
      }
    }
    .issa-logo {
      height: 120px;
      width: 120px;
    }
  }
}
