.pcube-ui {
  .ui-header {
    .nav-header {
      position: fixed;
      background-color: transparent;
      box-shadow: none;
      z-index: 1;
      .brand-logo {
        color: $medium-black;
        height: 100%;
        img {
          height: 100%;
          margin-left: 5px;
        }
      }
      .navigation {
        .item {
          color: #ffffff;
          font-size: 20px;
          padding: 0 30px;
          &.active {
            background-color: #3396ff;
            font-weight: 600;
            height: 64px;
          }
          &:hover {
            font-weight: 600;
          }
        }
      }
    }
    .side-nav {
      .background {
        img {
          width: 100%;
        }
      }
    }
  }
}
