.pcube-ui {
  .ui-home {
    .parallax {
      z-index: 0;
    }
    .parallax-content {
      min-width: 100%;
      position: absolute;
      top: 250px;
      .quotes-title {
        color: $white;
        font-size: 64px;
      }
      .quotes {
        color: $white;
        font-size: 28px;
      }
    }
    .home-section {
      background-image: url("images/home-background.jpg");
      background-repeat: round;
      border-bottom: 10px solid #3396ff;
      border-top: 10px solid #3396ff;
      .home-content-container {
        background-color: rgba(0,0,0,0.8);
      }
      .header {
        color: #e3e812;
        font-weight: 500;
      }
      .home-content {
        color: #ffffff !important;
        &.title {
          color: #3396ff !important;
          font-weight: 600;
          margin-top: 20px;
        }
        &.title-2 {
          color: #e3e812 !important;
        }
      }
      .mail-button {
        background-color: #3396ff;
      }
      .profile-image {
        border: 5px solid #3396ff;
        padding: 0;
      }
    }
    .card {
      height: 280px;
      .card-image {
        max-height: 100%;
        overflow: hidden;
      }
      .card-title {
        font-weight: 700;
      }
    }
    .home-content {
      font-size: 22px;
      margin: 0;
      text-align: justify;
    }
    .mail-button {
      margin-top: 10px;
      .material-icons {
        vertical-align: middle;
        margin: 0 5px;
      }
    }
    .mail-header {
      border-bottom: 1px solid $light-grey;
      margin-bottom: 10px;
      padding-bottom: 10px;
      .header {
        margin: 0;
      }
      .material-icons {
        float: right;
      }
    }
  }
}
