.pcube-ui {
  .ui-home {
    .parallax-content {
      min-width: 100%;
      position: absolute;
      top: 250px;
      .quotes-title {
        color: $white;
        font-size: 64px;
      }
      .quotes {
        color: $white;
        font-size: 28px;
      }
    }
    .parallax-content-image {
      max-height: 240px;
    }
    .card {
      height: 280px;
      .card-image {
        max-height: 100%;
        overflow: hidden;
      }
      .card-title {
        font-weight: 700;
      }
    }
    .home-content {
      font-size: 18px;
      margin: 0;
    }
  }
}
