/******************************************************************************
  App Container
*******************************************************************************/
.pcube-ui {
  .ui-body {
    padding-top: 64px;
  }
}

/******************************************************************************
  Common Padding and Margin classes
******************************************************************************/
.padding-0 {
  padding: 0 !important;
}
.margin-0 {
  margin: 0 !important;
}
.margin-tb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.margin-b-10 {
  margin-bottom: 10px !important;
}
.pointer {
  cursor: pointer !important;
}
.bold-text {
  font-weight: 700;
}
.center-text {
  text-align: center;
}
