/******************************************************************************
  App Container
*******************************************************************************/
.pcube-ui {
  .ui-body {
    padding-top: 64px;
  }
}

/******************************************************************************
  Common Padding and Margin classes
******************************************************************************/
.padding-0 {
  padding: 0 !important;
}
.margin-0 {
  margin: 0 !important;
}
.pointer {
  cursor: pointer !important;
}
